<section class="dashboard">
  <article class="dashboard__article ---adapt">
    <h3 class="dashboard__title">Welcome to Dynamic Components</h3>
    <p class="dashboard__text">In this application you will be able to test new Angular functionalities,
      this project is being developed using Angular v17, it also uses SCSS as CSS processor, you can see the list of functionalities in order to have an example about their implementation in real projects.
    </p>
    <h3 class="dashboard__title ---medium">1.1 List of functionalities</h3>
    <ul>
      <li class="dashboard__text">Login system</li>
      <li class="dashboard__text">Authentication</li>
      <li class="dashboard__text">Authorization soon</li>
      <li class="dashboard__text">Database system soon</li>
    </ul>
  </article>
  <article class="dashboard__article">
    <img class="dashboard__img" src="https://cdn-icons-png.flaticon.com/512/8417/8417933.png" alt="functionality-image">
  </article>
</section>
